<div id = "banner">
    <p>SINCE 2016</p>
    <h1>We create from scratch amazing  <strong>Shopify</strong></h1>
</div>

<div id = "portofolio">
  <div class = "portofolio-text">
    <h5>Nos clients sont géniaux !</h5>
  </div>
  <div class = "portofolio-grid">

    <div class="cards">
      <div class="card-category">
        <a href="https://yokoshop.com" target="_blank">
          <%=image_tag 'clients/yoko-logo.jpg'%>
        </a>
      </div>
      <div class="card-category">
        <a href="https://fr.webedia-group.com/" target="_blank">
          <%= image_tag 'clients/webedia-logo.jpg' %>
        </a>
      </div>
      <div class="card-category">
        <a href="https://avnier.com/" target="_blank">
          <%= image_tag 'clients/avnier-logo.jpg' %>
        </a>
      </div>
      <div class="card-category">
        <a href="https://seasonly.fr/" target="_blank">
          <%= image_tag 'clients/seasonaly-logo.jpg' %>
        </a>
      </div>
      <div class="card-category">
        <a href="https://www.joone.fr/" target="_blank">
          <%= image_tag 'clients/joone-logo.png' %>
        </a>
      </div>
      <div class="card-category" style="filter: invert(1);" >
        <a href="https://www.universalmusic.fr/" target="_blank">
          <%= image_tag 'clients/universal-logo.png' %>
        </a>
      </div>
      <div class="card-category">
        <a href="https://www.boxtal.com/fr/fr/accueil" target="_blank">
          <%= image_tag 'clients/boxtal-logo.jpg' %>
        </a>
      </div>
      <div class="card-category" target="_blank">
        <a href="https://fempo.co/">
          <%= image_tag 'clients/fempo-logo.jpg' %>
        </a>
      </div>
      <div class="card-category">
        <a href="https://www.bonsoirs.com/" target="_blank">
          <%= image_tag 'clients/bonsoirs-logo.jpg' %>
        </a>
      </div>
      <div class="card-category">
        <a href="https://www.youtube.com/watch?v=YVOa6XhF4yg" target="_blank">
          <%= image_tag 'clients/mars-logo.jpg' %>
        </a>
      </div>
      <div class="card-category">
        <a href="https://bigfernand.com/" target="_blank">
          <%= image_tag 'clients/bigfernand-logo.jpg' %>
        </a>
      </div>
      <div class="card-category">
        <a href="https://lafourche.fr/" target="_blank">
          <%= image_tag 'clients/lafourche-logo.jpg' %>
        </a>
      </div>
      <div class="card-category">
        <a href="https://rivieras.com/fr" target="_blank">
          <%= image_tag 'clients/riviera-logo.jpg' %>
        </a>
      </div>
      <div class="card-category">
        <a href="https://www.cdiscount.com/" target="_blank">
          <%= image_tag 'clients/cdiscount-logo.jpg' %>
        </a>
      </div>
      <div class="card-category">
        <a href="https://tealer.fr/" target="_blank">
          <%= image_tag 'clients/tealer-logo.png' %>
        </a>
      </div>
    </div>
  </div>
</div>

<div id = "slider" >
  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class= "glide__slide">
          <%= image_tag "sliders/Artboard_2.jpg"%>
          <div class= "glide_slide-infos">
            <h5>FROM SCRATCH /</h5>
            <%= image_tag "clients/seasonaly-logo.jpg"%>
            <p>Développement site from scratch et d'un quiz personnalisé avec abonnement.</p>
            <p>Développement site from scratch et d'un quiz personnalisé avec abonnement.</p>
            <h6> <strong>Voir plus</strong></h6>
          </div>
        </li>
        <li class= "glide__slide">
          <%= image_tag "sliders/Artboard_1.jpg"%>
          <div class= "glide_slide-infos">
            <h5>FROM SCRATCH /</h5>
            <%= image_tag "clients/joone-logo.png"%>
            <p>Développement site from scratch et d'un quiz personnalisé avec abonnement.</p>
            <p>Développement site from scratch et d'un quiz personnalisé avec abonnement.</p>
            <h6> <strong>Voir plus</strong></h6>
          </div>
        </li>
        <li class= "glide__slide">
          <%= image_tag "sliders/Artboard_2.jpg"%>
          <div class= "glide_slide-infos">
            <h5>FROM SCRATCH /</h5>
            <%= image_tag "clients/seasonaly-logo.jpg"%>
           <p>Développement site from scratch et d'un quiz personnalisé avec abonnement.</p>
          <p>Développement site from scratch et d'un quiz personnalisé avec abonnement.</p>
            <h6> <strong>Voir plus</strong></h6>
          </div>
        </li>
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
          <svg width="26px" height="26px" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg>
      </button>
    </div>
  </div>
</div>
